---
import HeaderTitle from "../components/HeaderTitle";
import HoverableLink from "../components/HoverableLink";
import ExternalLink from "../components/ExternalLink";
import Github from "../components/icons/Github";
import Three from "../layouts/Three.astro";

const { backgroundColor, titleColor, subdomainColor, iconColor } = Astro.props;

const pages = [
  { url: "/", title: "home" },
  { url: "/about", title: "about" },
  // { url: "/g", title: "blogarden" },
  // { url: "/garage", title: "garage" },
  // { url: "/cal", title: "cal" },
];
---

<nav class="sticky top-0" style={{ backgroundColor }}>
  <Three>
    <div class="flex justify-between items-center">
      <HeaderTitle
        titleColor={titleColor}
        subdomainColor={subdomainColor}
        suffix={Astro.url.pathname === "/g" ? "g" : undefined}
      />
      <span class="space-x-4">
        {
          pages.map(({ url, title }) => (
            <HoverableLink
              currUrl={Astro.url.pathname}
              toUrl={url}
              title={title}
            />
          ))
        }
      </span>
    </div>
  </Three>
</nav>
